@import "tailwindcss";

@theme inline {
  --color-regal-orange: #f47457;
  --color-regal-orange-2: #f59058;
  --color-footer: #fff8f7;
  --color-regal-hover: #fff8f7;
  --color-orange-3: #d13b1a;
  --color-orange-4: #d13b1ae0;
  --color-page: #f5f5f5;
  --color-regal-orange-dark: #6f3528;
  --color-text-secondary: #717780;
  --color-header-white: #f9fafb;
  --color-border-separator: #061a3714;
  --color-orange-white: #e956360d;

  --grid-fit-full: repeat(auto-fit, 100%);
  --grid-fit: repeat(auto-fit, 330px);
}

body {
  background: var(--background);
  font-family: var(--font-inter), Arial, Helvetica, sans-serif;
}
